.cardDad{
    width: 1400px;
    height: 900px;
    margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}
.btn__Wrap{
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
justify-content: space-between;
}
a{
    text-decoration: none;
}